* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(250, 238, 215);
    font-family: "PT Sans";
}

h1 {
    margin-top: 20px;
    text-align: center;
    font-family: "Helvetica Neue";
    font-weight: 300;
}

hr {
    height: 0;
    margin: 15px 0;
    color: lightgrey;
    border-top: 0;
    border-bottom: 1px solid grey;
}

a {
    color: teal;
    text-decoration: none;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 80vw;
}

.client {
    display: flex;
    background-color: white;
    border-radius: 25px;
    padding: 25px;
    margin-top: 15px;
    justify-content: space-between;
}

.animated-client-enter {
    transform: translateX(-350px);
}

.animated-client-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}

.animated-client-exit {
    opacity: 1;
}

.animated-client-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

.client__content {
    display: flex;
    flex-direction: column;
}

.client__status {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

select {
    height: 30px;
    margin-right: 5px;
    border: 1px solid teal;
    border-radius: 7px;
    -webkit-appearance: none;
    background-image: url("/public/select-arrow.svg");
    background-repeat: no-repeat;
    background-position: right 10px top 50%, 0 0;
    line-height: 1em;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    /* for IE */
    appearance: none !important;
    background-color: white;
    padding: 0 10px;
}

select::-ms-expand {
    display: none;
}

label {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    font-size: 14px;
}

.label {
    position: relative;
    top: 7px;
    left: 10px;
    color: black;
    background-color: white;
    padding: 0 7px;
}

label select {
    width: 100%;
}

.pages {
    margin-top: 20px;
}

.page {
    padding: 5px 15px;
    margin-top: 15px;
    margin-right: 5px;
    color: teal;
    background: transparent;
    border: 1px solid teal;
    border-radius: 7px;
    font-size: 14px;
    cursor: pointer;
}

.page__current {
    border: 1px solid lightgrey;
    color: lightgrey;
    font-weight: bold;
}

.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 1px grey;
}

.logo {
    display: flex;
    align-items: center;
}

a {
    margin-right: 20px;
}
.clients__bar {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: 15px;
}

.client__data {
    width: 80vw;
    display: flex;
    justify-content: left;
    margin: 50px;
}

.client__data-block {
    flex: 2;
    padding: 25px;
    margin-right: 25px;
    background-color: white;
    border-radius: 25px;
}
.client__data-row {
    min-height: 49px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f9e6c1;
}

.client__data-row:hover {
    background-color: #f9e6c1;
}

.client__data-row:hover .client__data-status-bar .client__data-status {
    display: flex;
}

.client__data-status-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.client__data-status {
}

.button__row {
    margin-top: 10px;
}

.animated-button-enter {
    transform: translateX(10px);
    opacity: 0;
}

.animated-button-enter-done {
    margin-left: 10px;
    transform: translateX(0);
    transition: all 200ms ease-in;
    opacity: 1;
}

.client__bar {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.client__status-bar {
    display: flex;
    flex-direction: column;
}

.client__contacts {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-bottom: 20px;
}

.client__bar-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.client__bar-item {
    margin: 10px 0;
    padding: 25px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(232, 211, 172, 1);
}

.client__contact-name {
    font-size: 20px;
    font-family: "Helvetica Neue";
    font-weight: 300;
    margin-bottom: 15px;
}

.client__comments {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.client__comments-date {
    display: inline;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    margin-bottom: 10px;
    color: grey;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid grey;
    border-radius: 10px;
}

.client__bar-item p {
    margin-top: 10px;
}

.filters {
    width: 66%;
}

.filters__row {
    margin-top: 5px;
}